@font-face {
    font-family: Pokemon;
    src: url("_fonts/power\ clear.ttf");
}

body {
    font-family: Pokemon, Arial, sans-serif;
    text-align: center;
    background-image: url("estadio.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    color: #000000;
}

#battlefield {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pokemon-display {
    text-align: center;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-color: #f0f0f0;
    width: 200px;
}

.pokemon-display img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

/* Estilos para los mensajes de ataque y curación */
#messages {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}



.message-box {
    width: 270px;
    height: 80px;
    background-color: rgba(0, 0, 255, 0.7); /* Azul para el jugador */
    color: white;
    font-size: 20px;
    text-decoration: solid;
    text-align: center;
    line-height: 16px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

/* Mensaje del rival será rojo */
#rival-message {
    background-color: rgba(255, 0, 0, 0.7);
    
}

.action-buttons {
    margin-top: 20px;
}

#rival-life{


    padding-top: 6%;
}

#player-life{


    padding-top: 6%;
}
.btn {
    padding: 40px 40px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s;
    font-family: Pokemon;
}

.btn.action {
    background-color: #4CAF50;
    color: white;
}

.btn.action:hover {
    background-color: #fbff00;
}

.btn:focus {
    outline: none;
}


#rival-image{


    width: 100px;
    height: 100px;
}

#player-image{


    width: 100px;
    height: 100px;
    
}

